*{
    box-sizing: border-box;
}
body{
    background-color: rgb(160, 100, 223);
    font-family: Georgia,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
.btn{
    background-color: rgb(120, 70, 200);
    color: white;
    margin: 1.5rem;
    border: none;
    border-radius: 5px;
    padding: 1.5rem 3rem;
    font-size: 14px;
    font-family: inherit;
    outline: 0;
    cursor: pointer;
    

}
.btn:hover{
    opacity: 0.9;
}